body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 1px 1px 1px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 30px;
}
